@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ededed;
  background: #020617;
  font-family: "Nunito", "Arial", Helvetica, sans-serif;
}

.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input {
  -moz-appearance: textfield;
}
